<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") -%>
<body>
    <nav>
        <p>CSS BATTLE</p>
    </nav>
    <div class="holder">
      <form action="/battle"method="POST">
          <div class="mb-3">
            <label for="id" class="form-label">Unique Key</label>
            <input type="text" class="form-control" placeholder="key" id="id" name="key"aria-describedby="idHelp" autocomplete="off"> 
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input type="number" class="form-control" name="number"id="number" autocomplete="off">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
</body>
</html>