body,p{
    margin:0;
    width:100%;
    height:100%;
}
body{
    background-image: url("/img/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

label{
    color: white;
}

nav{
    /* background-color: black; */
    color: white;
    width:100%;
    height:70px;
}

p{
    padding:5px;
    margin-left: 20px;
    font-size: 40px;
}


#loginForm{
    position: absolute;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 10%;
    padding:35px;
}

.holder{
    border-radius: 15px;
    border:4px solid;
    /* box-shadow: 0 0 1rem 0 rgba(138, 36, 36, 0.2); */
    height:280px;
    width:500px;
    overflow: hidden;
    position: absolute;
    left:34%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-top: -40px;
}

.holder:before{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(100%) brightness(130%);
    content: "";
    height:100%;
    position: absolute;
    width:100%;
}
.heading{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 13vh;
    position: relative;
    text-align: center;
    filter:url(#fire);
    margin-top: 70px;
}

.heading h1{
    position: relative;
    color:#ffeb3b;
    font-weight: 600;
    letter-spacing: 4px;
    font-size:4rem;
    text-shadow:0 0 10px #ff8c3b,
    0 0 40px #ff8c3b,
    0 0 80px #ff8c3b,
    0 0 160px #ff8c3b,
    0 0 240px #ff8c3b;
}

#id,#number{
    width:300px;
}